* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* login - sign up */
.circle-low {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1200px;
  height: 1200px;
  background-color: #3a4052;
  border-radius: 50%;
}
.circle-mid {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 900px;
  height: 900px;
  background-color: #3f4662;
  border-radius: 50%;
}
.circle-high {
  position: fixed;
  width: 600px;
  height: 600px;
  background-color: #444b70;
  border-radius: 50%;
}

.container-login {
  z-index: 1;
}
.container-login {
  text-align: center;
}
.container-login a {
  text-decoration: none;
  color: #aab8c5;
  font-weight: bold;
}

.container-login p {
  color: #aab8c5;
}

.login {
  border-color: red;
  background-color: #37404a;
  border-radius: 10px;
  padding: 50px;
  width: 480px;
}
.login h4 {
  color: #aab8c5;
}

.login p {
  color: #8391a2;
}

.login button {
  color: white;
}

.form-login button {
  box-shadow: 0px 0px 20px 0px #727cf5bf;
}
.form-login .input-account {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  margin-inline: -15px;
}
.form-login input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #404954;
  color: #8391a2;
}
.form-login .input-account label {
  color: #aab8c5;
}

/* Phone */
@media screen and (max-width: 576px) {

  .circle-low {
    width: 1100px;
    height: 1100px;
  }

  .circle-mid {
    width: 800px;
    height: 800px;
  }
  .circle-high {
    width: 500px;
    height: 500px;
  }

  .login {
    padding: 25px;
    width: 85vw;
  }

  .form-login .input-account {
    margin-inline: -15px;
  }

}
/* login - sign up CLOSE */


/* dashboard */

/* dashboard CLOSE*/